@import "../style";
.losts-filter {
  position: fixed;
  right: 0;
  margin-right: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  .fas {
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 3rem;
    background: #F7941D;
    color: #FFFFFF;
  }
}
.losts-section {
  min-height: 100vh;
  background: $blue;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .5);
  padding: 50px;

  &-title {
    display: inline-block;
    background: #FFFFFF;
    color: #555555;
    font-size: 4rem;
    margin: 5rem 0 15px;
    &-strong {
      color: $orange;
    }
  }
  .losts-button {
      border: 2px solid #FFFFFF;
      background: transparent;
      color: #FFFFFF;
      padding: 7px 15px;
      font-size: 2.4rem;
      text-align: right;
      transition: all .5s;
      &:hover {
        border: 2px solid $orange;
        background: $orange;
        color: #FFFFFF;
      }
    }
  .lost-container {
    padding: 0;
    height: 100%;
    background: #FFFFFF;
    text-decoration: none;
    color: #666666;

    &:hover {
      text-decoration: none;
      color: #666666;

      .lost-img {
        transform: scale(1.2);
      }

      .lost-hover {
        opacity: 1;
      }
    }
  }

  .lost-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
  }

  .lost-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    transition: all .5s;
  }

  .lost-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: all .5s;

    &-icon {
      opacity: .5;
      width: 40%;
      filter: invert(100%);
    }
  }

  .lost-content {
    padding: 10px 15px 30px;
  }

  .pet-name {
    font-size: 2rem;
  }

  .pet-description {
    font-size: 1.6rem;
  }
}
.tooltip {
  margin-right: 5px;
}
.tooltip .tooltip-inner {
  background-color: #FFFFFF;
  color: $orange;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #FFFFFF !important;
}