@import "./../style";
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  .nav-item {
    .nav-link {
      font-size: 2rem;
      color: #FFFFFF;
      transition: all .5s;
      &:focus {
        color: #FFFFFF;
      }
      &:hover {
        color: #FFFFFF;
      }
    }
  }
  .nav-item.active {
    .nav-link {
      color: #FFFFFF; //temporary
    }
  }
  .button {
    border: none;
    background-color: transparent;
    &:active {
      border: none;
    }
  }
  .navbar-img {
    height: 50px; //temporary
    filter: invert(100%);
  }
  .sign-buttons-container {
    .sign-btn {
      width: 120px;
    }
    .sign-up-btn {
      border: 2px solid $blue;
      background: transparent;
      color: $blue;

      &:hover {
        border: 2px solid $orange;
        background: $orange;
        color: #FFFFFF;
      }
    }
    .sign-in-btn {
      border: 2px solid $orange;
      background: transparent;
      color: $orange;

      &:hover {
        border: 2px solid $blue;
        background: $blue;
        color: #FFFFFF;
      }
    }
  }
  @media screen and (min-width: 992px) {
    background-color: transparent;
  }
}
