@import "./../style";
.headroom-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.headroom {
  position: relative;
  background: #FFFFFF;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
.navbar {
  z-index: 50;
  .nav-item {
    .nav-link {
      font-size: 2rem;
      color: #666666;
      transition: all .5s;
      &:focus {
        color: #666666;
      }
      &:hover {
        color: #666666;
      }
    }
  }
  .nav-item.active {
    .nav-link {
      color: #666666; //temporary
    }
  }
  .button {
    border: none;
    background-color: transparent;
    &:active {
      border: none;
    }
  }
  .navbar-img {
    height: 50px; //temporary
    //filter: invert(100%);
  }
  .sign-buttons-container {
    .sign-btn {
      width: 120px;
    }
    .sign-up-btn {
      border: 2px solid $blue;
      background: transparent;
      color: $blue;

      &:hover {
        border: 2px solid $orange;
        background: $orange;
        color: #FFFFFF;
      }
    }
    .sign-in-btn {
      border: 2px solid $orange;
      background: transparent;
      color: $orange;

      &:hover {
        border: 2px solid $blue;
        background: $blue;
        color: #FFFFFF;
      }
    }
  }
  @media screen and (min-width: 992px) {
    background-color: transparent;
  }
}
